---
- name: Load a system variables file based on distribution or OS family
  include_vars: '{{ distribution }}'
  with_first_found:
    - '{{ ansible_system }}/{{ java_distribution }}/{{ ansible_os_family }}.yml'
    - default.yml
  loop_control:
    loop_var: distribution

- name: Choose platform based task
  include_tasks: '{{ platform }}'
  with_first_found:
    - '{{ ansible_system }}/system.yml'
    - not-supported.yml
  loop_control:
    loop_var: platform

- name: Apply security policy patch
  include_tasks: '{{ platform }}'
  with_first_found:
    - '{{ ansible_system }}/security_policy.yml'
    - not-supported.yml
  loop_control:
    loop_var: platform
  when:
    - java_unlimited_policy_enabled
    - java_distribution == 'oracle_java'
    - java_full_version is version('8.151', '<')
