---
- name: Load a system variables file based on distribution or OS family
  include_vars: '{{ distribution }}'
  with_first_found:
    - '{{ ansible_os_family }}.yml'
    - default.yml
  loop_control:
    loop_var: distribution

- name: Debug java_distribution
  debug:
    var: java_distribution

- name: Set base variables based on java distribution
  include_vars: 'java_distro_configs/{{ java_distribution }}_vars.yml'

- name: 'Fetch oracle artifact with {{ transport }} transport'
  include_tasks: '{{ transport_driver }}'
  with_first_found:
    - '{{ ansible_system }}/fetch/{{ transport }}.yml'
    - unknown-transport.yml
  loop_control:
    loop_var: transport_driver

- name: Set parse variables based on java distribution
  include_vars: java_parts.yml
  when:
    - transport != 'repositories'
    - java_binary_type != 'chocolatey'

- name: debug java_major_version
  debug:
    var: java_major_version

- name: debug java_minor_version
  debug:
    var: java_minor_version

- name: debug java_full_version
  debug:
    var: java_full_version

- name: Debug java_folder
  debug:
    var: java_folder

- name: Debug parts
  debug:
    var: parts

- name: Choose platform based task
  include_tasks: '{{ platform }}'
  with_first_found:
    - '{{ ansible_system }}/system.yml'
    - not-supported.yml
  loop_control:
    loop_var: platform

- name: Apply security policy patch
  include_tasks: '{{ platform }}'
  with_first_found:
    - '{{ ansible_system }}/security_policy.yml'
    - not-supported.yml
  loop_control:
    loop_var: platform
  when:
    - java_unlimited_policy_enabled
    - java_distribution == 'oracle_java'
