---
- name: 'Prepare for latest minor version'
  block:
    - name: 'Fetch version page'
      uri:
        url: 'https://sap.github.io/SapMachine/latest/{{ java_major_version }}/'
        return_content: true
        status_code: [200, 404]
      register: version_page

    - name: Find release version
      set_fact:
        release_version: >-
          {{ version_page.content | regex_search('(1.*[.|-]\d)') }}
  when: java_minor_version == '*'

- name: 'Fetch artifact page'
  uri:
    url: '{{ java_sapmachine_release_page }}'
    status_code: [200, 404]
    return_content: true
    body_format: json
  register: artifact_page

- name: Exit if SapMachine version is wrong
  fail:
    msg: >-
      {{ 'SapMachine version ' + java_major_version|string
              + (java_minor_version == '*') | ternary('', '.' + java_minor_version|string)
                  + '_' + java_arch|string + ' for Linux is not supported!' }}
  when: artifact_page.status == 404

- name: Get artifact and checksum link
  set_fact:
    release_url: "{{ artifact_page.json | json_query(\"assets[?name=='\" + java_sapmachine_release_name + \".tar.gz'].browser_download_url\") }}"
    checksum_link: "{{ artifact_page.json | json_query(\"assets[?name=='\" + java_sapmachine_release_name + \".sha256.txt'].browser_download_url\") }}"

- name: Fetch artifact checksum file
  uri:
    url: '{{ checksum_link[0] }}'
    return_content: true
  register: artifact_checksum_file

- name: Find artifact checksum
  set_fact:
    artifact_checksum: >-
      {{ artifact_checksum_file.content | regex_search('(^\w*)') }}

- name: Download artifact
  get_url:
    url: '{{ release_url[0] }}'
    dest: '{{ java_download_path }}/{{ (release_url[0]|urlsplit).path|basename }}'
    checksum: 'sha256:{{ artifact_checksum }}'
  register: file_downloaded
  retries: 20
  delay: 5
  until: file_downloaded is succeeded
