---
- name: 'Install {{ java_package }} from chocolatey'
  win_chocolatey:
    name: '{{ java_package }}{{ java_major_version }}'
    # package_params: 'installdir={{ java_path }}'
  register: choco_install
  retries: 15
  delay: 5
  until: choco_install is succeeded
