---
- name: Fetch download page
  win_uri:
    url: "{{ zulu_api_page }}\
      /bundles/latest/\
      ?version={{ java_major_version }}\
      &ext=zip&os=win&\
      arch={{ (java_arch == 'x64') | ternary('x64', 'x86') }}"
    return_content: true
    follow_redirects: all
  register: root_page

- name: Set artifact checksum and url
  set_fact:
    artifact_url: >-
      {{ (root_page.content | from_json).url }}
    artifact_checksum: >-
      {{ (root_page.content | from_json).md5_hash }}

- name: 'Download artifact from {{ artifact_url }}'
  win_get_url:
    url: '{{ artifact_url }}'
    dest: '{{ java_download_path }}'
    force: true
    checksum: '{{ artifact_checksum }}'
    checksum_algorithm: md5
  register: file_downloaded
  retries: 20
  delay: 5
  until: file_downloaded is succeeded
