# /etc/profile.d/java.sh - set java stuff
{% if openjdk_pkg_install %}
export JAVA_HOME={{ openjdk_path }}
{% else %}
{% set java_minor_version = java_minor_version | default(0) %}
export JAVA_HOME={{ java_path }}/{{ _java_folder }}
export PATH=$JAVA_HOME/bin:$PATH
{% endif %}
