---
- name: 'Perform {{ java_binary_type }} install'
  include_tasks: '{{ install_task }}'
  with_first_found:
    - 'install/{{ java_distribution }}_{{ java_binary_type }}.yml'
    - 'install/{{ java_binary_type }}.yml'
  loop_control:
    loop_var: install_task
